<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% var user = ['一','二','三']%>
    <% for(let i=0; i<user.length; i++) { %>
      <span> <%= user[i] %></span>
    <% } %>

    <h3>引用另一个ejs</h3>
    <h4>第一种方式：</h4>
    <% var data = 1 %>
    <% include ./test %>
    <h4>第二种方式：</h4>
    <%- include('test', {data:1}) %>

    <h3> <%- %> 的用法</h3>

    <p><%- ' <h1>123</h1>' %></p>
    <p><%= '<a href="http://www.baidu.com>baidu</a>' %></p>
  </body>
</html>
